<!DOCTYPE html>
<html lang="en" dir="lr">
    <head>
        <meta charset="utf-8">
        <title>Bus-Ticket-Booking</title>
        <link rel="stylesheet" href="css/profile.css">
      
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    </head>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/book">Book</a></li>
            <li><a href="/myBookings">MyBookings</a></li>
            <li><a href="/profile"> Profile </a></li>
        </ul>
    </nav>
    <body>
        <h1>User Details</h1>

   <div class="user-details">
    <label for="name">Name:</label>
    <span id="name">John Doe</span>
  </div>

  <div class="user-details">
    <label for="age">Age:</label>
    <span id="age">30</span>
  </div>

  <div class="user-details">
    <label for="phone">Phone:</label>
    <span id="phone">123-456-7890</span>
  </div>

  <div class="user-details">
    <label for="gender">Gender:</label>
    <span id="gender">Male</span>
  </div>

  <div class="user-details">
    <label for="wallet">Wallet:</label>
    <span id="wallet">$100.00</span>
  </div>

        
    </body>
</html>

