
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

body {
    background: #FC5C7D;  
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  
    background: linear-gradient(to right, #6A82FB, #FC5C7D); 
    min-height: 100vh; 
    font-family: 'Boogaloo', sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background: rgba(255,255,255,0.1);
    background-color: rgb(204, 203, 203);
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.5);
    padding: 10px;
    width: 250px; 
    text-align: center;
    margin: 20px;
    border-radius: 20px;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 34px;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

.card p{
    font-weight: 700;
}

.button {
    font-family: 'Boogaloo', sans-serif;
    display: inline-block;
    background: -webkit-linear-gradient(to right, #004e92, #000428);  
    background: linear-gradient(to right, #004e92, #000428);
    font-weight:500;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.clearfix {
    clear: both;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    gap: 10px;
}

label, select, input, button {
    margin-right: 10px;
}
label{
    font-weight: 600;
}
input{
    height: 30px;
}

select{
    width: 90px;
    height: 30px;
}
#quantity{
    height:15px;
}

nav {
    background-color: #000428;
    text-align: end;
    margin-bottom: 0;
    padding: 0.3rem;
    position: fixed; 
    width: 100%; 
    top: 0; 
    line-height: 3.25rem;
}

ul {
    list-style: none;
    margin: 0; 
    padding: 0; 
}

li {
    display: inline;
    padding: 2rem;
    color: white;
}

li a {
    text-decoration: none;
    color: white;
}
#heading{
    margin-top: 3rem;
}