@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

body {
  background: #FC5C7D;  
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D); 
  background: linear-gradient(to right, #6A82FB, #FC5C7D); 

  min-height: 100vh; 
  font-family: 'Boogaloo', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}


.box {
  font-family: 'Boogaloo', sans-serif;
  width: 300px; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #000428;  
  background: -webkit-linear-gradient(to right, #004e92, #000428);  
  background: linear-gradient(to right, #004e92, #000428); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}


.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.item input{
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; 
}

/
.item button {
  font-family: 'Boogaloo', sans-serif;
  margin: 10px 0;
  padding: 10px;
  background: #FC5C7D;  
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D); 
  background: linear-gradient(to right, #6A82FB, #FC5C7D);
  font-weight:800;
  color: #ffffff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; 
}


h1 {
  font-family: 'Boogaloo', sans-serif;
  color: #ffffff; 
  text-align: center;
}



::placeholder {
  color: rgb(24, 23, 23);
  opacity: 0.6; 
}


footer {
  color: rgba(0, 0, 0, 0.5); 
  text-align: center;
  margin-top: 20px; 
}
p{
  font-family: 'Boogaloo', sans-serif;
  color: white;
}
p a{
  color:#FFF5E0;
}
 button{
  font-family: 'Boogaloo', sans-serif;
  margin: 10px 0;
  padding: 10px;
  background: #FC5C7D;  
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  
  background: linear-gradient(to right, #6A82FB, #FC5C7D);
  font-weight:800;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
 }
